#header h1 {
    font-size: 120%;
    display: inline-block;
}

code, pre {
    color: #000;
    background-color: #fff;
    font-weight: normal;
    font-family: "Menlo", "Consolas", "Inconsolata", "Anonymous", "Monaco", monospace;
    font-size: 0.9em;
    line-height: 1.2em;
}

p code, li>code {
    border: 1px solid #DDDDDD;
    padding: 2px;
    font-size: 0.8em;
}

#header h1 a, h2.post-title a, h2.static-title a {
    color: #000;
}

ul, ol {
    margin-left: 2em;
}

div.highlight, pre {
    margin-bottom: 1em;
}

code.has-jax {
    border: none;
    background-color: #fff;
}

.date {
    font-style: italic;
    color: #4e4e4e;
}

body {
    font: 300 1.1em/1.6em "Droid Serif", "Open Sans", Cambria, Georgia, "DejaVu Serif", serif;
}

blockquote {
    padding-top: 0;
}

.panel {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 120%;
}

.panel p {
    font-weight: bold;
    font-style: italic;
    line-height: 1.1em;
}

footer {
    text-align: center;
}

footer span {
    font-style: italic;
}
