<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@coda"/>
    <meta name="twitter:site" content="@coda"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:domain" content="codahale.com">
    <meta name="twitter:description" content="{{ page.summary }}">
    <title>{{ page.title }} | codahale.com</title>
    <link href="//codahale.com/atom.xml" rel="alternate" title="Atom" type="application/atom+xml"/>
    {% stylesheet codahale %}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{% include ga-account-number.txt %}', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>
<body>

<div class="row">
    <div class="large-12 large-offset-1 columns" id="header">
        <h1><a href="/">Coda Hale</a></h1>
        {
        <a href="/">writing</a>,
        <a href="/projects">projects</a>,
        <a href="/about">about</a>,
        <a href="/contact">contact</a>
        }
    </div>
</div>
<div class="row">
    <div class="large-8 large-centered columns">
        {{ content }}
    </div>
</div>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showMathMenu: false,
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
<script defer>
    MathJax.Hub.Queue(function () {
        var all = MathJax.Hub.getAllJax(), i;
        for (i = 0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
</body>
</html>
