<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ page.title }} | codahale.com</title>
    <link href="http://feeds2.feedburner.com/codahale" rel="alternate" title="Atom" type="application/atom+xml"/>

    {% stylesheet codahale %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{% include ga-account-number.txt %}']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

<div class="row">
    <div class="large-12 large-offset-1 columns" id="header">
        <h1><a href="/">Coda Hale</a></h1>
        <a href="/">writing</a>
        <a href="/about.html">about</a>
        <a href="/projects.html">projects</a>
        <a href="/contact.html">contact</a>
    </div>
</div>
<div class="row">
    <div class="large-10 large-centered columns">
        {{ content }}
    </div>
</div>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script defer>
    MathJax.Hub.Config({
        showMathMenu: false,
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
    });
    MathJax.Hub.Queue(function () {
        var all = MathJax.Hub.getAllJax(), i;
        for (i = 0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
</body>
</html>
