<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} | codahale.com</title>
	<meta name="author" content="Coda Hale" />
	<link href="http://feeds2.feedburner.com/codahale" rel="alternate" title="Atom" type="application/atom+xml" />
	<link rel="stylesheet" href="/css/text.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/pygment.css" type="text/css" media="screen, projection" />
</head>
<body>
	<div id="header">
		<h1><a href="/">codahale.com</a></h1>
		<p>
			Coda Hale lives in Emeryville, CA, where he writes about
			programming, web development, and the occasional bit about bicycles.
		</p>
		<p>
			<a href="/">writing</a> |
			<a href="/about.html">about</a> |
			<a href="/projects.html">projects</a> |
			<a href="/contact.html">contact</a>
		</p>
	</div>
	<hr />
	{{ content }}
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("{% include ga-account-number.txt %}");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>
