---
layout: default
---
<h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>

<p class="date">{{ page.date | date_to_string }}</p>

{{ content }}

<hr />

<p>
	<small>
		You'll notice there are no comments here. I hate discussing things via
		blog comments. If you'd like to talk, <a href="/contact.html">drop me a
		line</a>. If you'd like to discuss things in public, post on your blog.
		This content is mine, but feel free to avail yourself of your
		<a href="http://www.copyright.gov/fls/fl102.html">fair use rights</a>.
	</small>
</p>